button,
.button {
  --button-min-height: 3.554em; //64px
  --button-padding-y: 1.112em; //20px
  --button-padding-x: 1.112em; //20px
  --button-radius: 0.222em; //4px
  --button-bg-color: var(--blue);
  --button-border-color: var(--blue);
  --button-color: white;
  --button-font-size: var(--px18);
  --button-hover-bg-color: var(--button-bg-color);
  --button-hover-border-color: var(--button-border-color);
  --button-hover-box-shadow: var(--glow-box-shadow-blue);
  --button-hover-color: var(--button-color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: var(--button-min-height);
  padding: var(--button-padding-y) var(--button-padding-x);
  background-color: var(--button-bg-color);
  border-radius: var(--button-radius);
  border-width: 1px;
  border-style: solid;
  border-color: var(--button-border-color);
  color: var(--button-color);
  font-size: var(--button-font-size);
  line-height: normal;
  text-decoration: none;
  backdrop-filter: blur(5px); //5px
  -webkit-backdrop-filter: blur(5px);
  transition: all 0.25s;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: var(--button-hover-bg-color);
    border-color: var(--button-hover-border-color);
    box-shadow: var(--button-hover-box-shadow);
    color: var(--button-hover-color);
  }

  &:focus {
    outline: 0;
  }

  &[data-size="sm"] {
    --button-min-height: 2.714em;
    --button-padding-y: 0.714em; //10px
    --button-padding-x: 1.912em; //26.77px
    --button-radius: 0.285em; //4px
    --button-font-size: var(--px14);
  }

  &[data-color="white"] {
    --button-bg-color: white;
    --button-border-color: white;
    --button-color: black;
    --button-hover-box-shadow: var(--glow-box-shadow-white);
  }

  @media (max-width: 991.98px) {
    --button-font-size: 1em;
    --button-padding-y: var(--px10);
    --button-padding-x: var(--px20); //20px
    --button-radius: var(--px4); //4px
    --button-min-height: 2.714em; //38px

    width: 100%;
  }
}
