form {
  width: 100%;

  &.formInline {
    display: flex;
    align-items: flex-start;
    gap: 1em;

    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255,255,255,0.6);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255,255,255,0.6);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255,255,255,0.6);
}

.formGroup {
  width: 100%;
  margin-bottom: 1em;

  &.noMarginBottom {
    margin-bottom: 0;
  }

  &.invalid {
    > input, >textarea {
      border-color: red;
      box-shadow: 0 0 5px red;
    }
  }
}

.formGroupError {
  margin-top: 0.5em;
}

input,
textarea,
select {
  display: block;
  color: inherit;
  appearance: none;

  &:focus {
    outline: 0;
    box-shadow: 0 0 5px white;
  }
}

input,
textarea {
  width: 100%;
  padding: 1.241em 1.444em; //22.35px 26px
  background-color: var(--glass-white-8);
  border: 1px solid var(--glass-white-2);
  backdrop-filter: blur(var(--px40));
  -webkit-backdrop-filter: blur(var(--px40));
  border-radius: 0.222em; //4px
  font-size: var(--px18);

  @media (max-width: 991.98px) {
    padding: var(--px10) var(--px20);
    border-radius: 0.285em; //4px
    font-size: 1em;
  }
}

input {
  height: 3.554em; //64px

  @media (max-width: 991.98px) {
    height: 2.714em; //38px
  }
}
