:root {
  --blue: #005cff;
  --orange: #FF5F06;
  --light-grey: #D7D7D7;

  --glass-white-8: rgba(255,255,255,0.08);
  --glass-white-2: rgba(255,255,255,0.2);

  --glow-text-shadow-white: -0.2em -0.2em 1em #fff, 0.2em 0.2em 1em #fff, 0 0 2em white, 0 0 4em white, 0 0 6em white, 0 0 8em white, 0 0 10em white;
  --glow-box-shadow-white: 0 0 .5em #fff, 0 0 2em white, 0 0 4em white;
  --glow-box-shadow-soft-white: 0 0 .5em rgba(255,255,255,0.5), 0 0 2em rgba(255,255,255,0.5), 0 0 4em rgba(255,255,255,0.5);

  --glow-text-shadow-blue: -0.2em -0.2em 1em var(--blue), 0.2em 0.2em 1em var(--blue), 0 0 2em var(--blue), 0 0 4em var(--blue), 0 0 6em var(--blue), 0 0 8em var(--blue), 0 0 10em var(--blue);
  --glow-box-shadow-blue: 0 0 .5em var(--blue), 0 0 2em var(--blue), 0 0 4em var(--blue);

  --body-font-size: 16px;
  --body-bg-color: #000000;
  --body-font-color: #ffffff;
  --body-font: 'Avantt TRIAL', sans-serif;

  //MEASUREMENTS
  --px4: 0.25em;
  --px10: 0.625em;
  --px14: 0.875em;
  --px18: 1.125em;
  --px20: 1.25em;
  --px24: 1.5em;
  --px25: 1.5625em;
  --px26: 1.625em;
  --px28: 1.75em;
  --px30: 1.875em;
  --px40: 2.5em;
  --px42: 2.625em;
  --px50: 3.125em;
  --px62: 3.875em;
  --px80: 5em;
  --px160: 10em;

  //CONTAINERS
  --container-lg: calc(100% - var(--px40));
  --container: 82.5em; //1320px

  //ELEMENTS
  --header-height: var(--px80);
}

@media (min-width: 1920px) {
  :root {
    --body-font-size: 0.833vw;
  }
}

@media (max-width: 1439.98px) {
  :root {
    --body-font-size: 14px;
  }
}

@media (max-width: 991.98px) {
  :root{
    --header-height: 5.214em; //73px

    //MEASUREMENTS
    --px4: 0.2857em;
    --px10: 0.714em;
    --px14: 1em;
    --px16: 1.142em;
    --px18: 1.285em;
    --px20: 1.428em;
    --px24: 1.714em;
    --px25: 1.785em;
    --px26: 1.857em;
    --px28: 2em;
    --px30: 2.142em;
    --px40: 2.857em;
    --px42: 3em;
    --px50: 3.571em;
    --px62: 4.428em;
    --px80: 5.714em;
    --px160: 11.428em;
  }
}