:root {
  --blue: #005cff;
  --orange: #FF5F06;
  --light-grey: #D7D7D7;

  --glass-white-8: rgba(255,255,255,0.08);
  --glass-white-2: rgba(255,255,255,0.2);

  --body-font-size: 16px;
  --body-bg-color: #000000;
  --body-font-color: #ffffff;
  --body-font: 'Avantt TRIAL', sans-serif;

  //MEASUREMENTS
  --px4: 0.25em;
  --px14: 0.875em;
  --px18: 1.125em;
  --px20: 1.25em;
  --px24: 1.5em;
  --px25: 1.5625em;
  --px30: 1.875em;
  --px40: 2.5em;
  --px42: 2.625em;
  --px62: 3.875em;
  --px80: 5em;
  --px160: 10em;


  //CONTAINERS
  --container-lg: calc(100% - var(--px40));
  --container: 82.5em; //1320px

  //ELEMENTS
  --header-height: var(--px80);
}

@media (max-width: 991.98px) {
  :root{
    --header-height: 73px;
  }
}