.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
}

:global {
  .accordion {
    .accordionItem {
      display: block;
      height: 100%;
      border-bottom: 1px solid var(--glass-white-2);

      &:first-child {
        border-top: 1px solid var(--glass-white-2);
      }
    }

    .accordionToggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: unset;
      column-gap: 1em;
      width: 100%;
      padding: var(--px40) 0;
      background-color: transparent;
      border: 0;
      text-align: left;
      backdrop-filter: none !important;

      &:hover {
        .accordionToggleText {
          transform: translateX(1em);
        }
      }

      &:hover,
      &:focus {
        box-shadow: none;

        .accordionToggleIcon {
          background-color: white;
          border-color: white;
          box-shadow: var(--glow-box-shadow-white);
          color: black;
        }
      }

      &.isOpen {
        .accordionToggleIcon {
          background-color: var(--blue);
          border-color: var(--blue);
          transform: rotate(225deg);
        }

        &:focus,
        &:hover {
          .accordionToggleIcon {
            background-color: var(--blue);
            border-color: var(--blue);
            box-shadow: none;
            color: white;
          }
        }
      }
    }

    .accordionToggleText {
      font-size: var(--px24);
      transition: all 0.3s ease;
    }

    .accordionToggleIcon {
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: var(--px26);
      height: var(--px26);
      border: 1px solid white;
      border-radius: 100%;
      transition: all 0.3s ease;

      svg {
        max-width: var(--px10);
        max-height:  var(--px10);
      }
    }

    .accordionContent {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;

      &.isOpen {
        max-height: 50vh;
      }
    }

    .accordionContentWrapper {
      height: 100%;
      padding: 0 0 var(--px40);

      p, ul, a, span, em, strong, i {
        font-size: var(--px18);
        line-height: 1.222em; //22px
      }

      ul {
        margin: 0 0 1em;
        padding-left: 1em;
        list-style: initial;
      }
    }

    @media (max-width: 991.98px){
      .accordionToggle {
        padding: var(--px20) 0;
      }

      .accordionToggleIcon {
        width: var(--px20);
        height: var(--px20);

        svg {
          max-width: 0.549em; //7.69px
          max-height: 0.549em;
        }
      }

      .accordionToggleText {
        font-size: var(--px16);
        transition: all 0.3s ease;
      }

      .accordionContentWrapper {
        padding: 0 0 var(--px30);

        p {
          font-size: 1em;
          line-height: 1.28; //18px
        }
      }
    }
  }
}