.contactPage {
  padding-top: var(--header-height);

  :global {
    .sectionContact {
      position: relative;
      margin-bottom: var(--px160);
      padding: var(--px160) var(--px20) 0;
    }

    .sectionContactBg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      padding-top: var(--bg-ratio);
      background-image: url("../assets/images/contact-header-bg.webp");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
    }

    .sectionContactTitle {
      margin-bottom: 4.741em; //294px
      text-align: center;
    }

    .sectionContactAccordionTitle {
      margin-bottom: 1.904em; //80px
      text-align: center;
    }

    .sectionContactHero {
      position: relative;
      display: flex;
      align-items: center;
      height: auto;
      min-height: 51em; //816px
      // margin-top: 500px;
      margin-bottom: var(--px160);
      padding: 0 var(--px20);

      > img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -2;
        width: 70%;
        transform: translateY(-50%) translateX(-40%);
      }

      .sectionContactHeroTextWrapper {
        width: 100%;

        .sectionContactHeroText {
          max-width: 50%;
        }

        .sectionContactHeroTitle {
          margin-bottom: 0.645em; //40px
        }

        .sectionContactHeroSubtitle {
          max-width: 15.25em; //366px
          margin-bottom: 1.667em; //40px
          font-weight: normal;
        }
      }
    }

    @media (max-width: 991.98px) {
      .sectionContact {
        position: relative;
        margin-bottom: var(--px80);
        padding: var(--px40) var(--px20) 0;
      }

      .sectionContactBg {
        background-image: url("../assets/images/contact-header-bg-mobile.webp");
        background-size: cover;
        background-position: center center;
      }

      .sectionContactTitle {
        margin-bottom: 2.857em; //80px
      }

      .sectionContactHero {
        flex-direction: column;
        height: auto;
        min-height: unset;
        margin-bottom: var(--px80);

        > img {
          position: static;
          order: 2;
          transform: none;
        }

        .sectionContactHeroTextWrapper {
          .sectionContactHeroText {
            max-width: 100%;
          }
          .sectionContactHeroSubtitle {
            max-width: 100%;
          }
        }
      }
    }
  }
}
