.errorPage {
  position: relative;
  height: 100vh;
  padding: var(--px80) var(--px20);
  background-image: url("../assets/images/footer-landing-page-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;

  @media (max-width: 991.98px){
    padding: var(--px20) var(--px20);
    background-size: cover;
  }

  :global {
    .errorPageBgImage {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }

    .errorPageWrapper {
      margin: 0 auto;
      text-align: center;
    }

    .errorPageLogo {
      width: 100%;
      max-width: 11.0625em;
      margin-bottom: 2em;
    }

    .errorPageDisplay {
      margin-bottom: 0;
      font-size: var(--px160);
      //color: var(--blue);
    }

    h2 {
      font-weight: 500;
    }

    .errorPageButtonContainer {
      justify-content: center;
    }

    @media (max-width: 991.98px) {
      .errorPageDisplay {
        font-size: var(--px80);
      }
    }
  }
}