.faqPage {
  padding-top: var(--header-height);

  :global {
    .sectionFaq {
      position: relative;
      margin-bottom: var(--px160);
      padding: var(--px160)  var(--px20) 0;
    }

    .sectionFaqBg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      padding-top: var(--bg-ratio);
      background-image: url("../assets/images/faq-header-bg.webp");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top left;
    }

    .sectionFaqTitle {
      margin-bottom: 4.741em;//294px
      text-align: center;
    }

    .sectionFaqAccordionTitle {
      margin-bottom: 1.904em; //80px
      text-align: center;
    }

    .sectionFaqHero {
      position: relative;
      display: flex;
      align-items: center;
      height: auto;
      min-height: 51em; //816px
      margin-bottom: var(--px160);
      padding: 0 var(--px20);

      > img {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -2;
        width: 100%;
        transform: translateY(-50%);
      }

      .sectionFaqHeroTextWrapper {
        width: 100%;

        .sectionFaqHeroText {
          max-width: 50%;
        }

        .sectionFaqHeroTitle {
          margin-bottom: 0.645em; //40px
        }

        .sectionFaqHeroSubtitle {
          max-width: 15.25em; //366px
          margin-bottom: 1.667em; //40px
          font-weight: normal;
        }
      }
    }

    @media (max-width: 991.98px) {
      .sectionFaq {
        position: relative;
        margin-bottom: var(--px80);
        padding: var(--px40)  var(--px20) 0;
      }

      .sectionFaqBg {
        background-image: url("../assets/images/faq-header-bg-mobile.webp");
        background-size: cover;
        background-position: center center;
      }

      .sectionFaqTitle {
        margin-bottom: 2.857em; //80px
      }

      .sectionFaqHero {
        flex-direction: column;
        height: auto;
        min-height: unset;
        margin-bottom: var(--px80);

        > img {
          position: static;
          order: 2;
          transform: none;
        }

        .sectionFaqHeroTextWrapper {
          .sectionFaqHeroText {
            max-width: 100%;
          }
          .sectionFaqHeroSubtitle {
            max-width: 100%;
          }
        }
      }
    }
  }
}
