.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--px20);
  background-color: black;
  border-bottom: 1px solid var(--glass-white-2);
}

:global {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
    width: 100%;
    height: 100%;
  }

  .navbarNav {
    display: inline-flex;
    align-items: center;
    column-gap: 92px;
    height: 100%;
    padding: 0;
    list-style: none;
  }

  .navItem {
    height: 100%;
  }

  .navLink {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      max-width: 0;
      height: 1px;
      background-color: white;
      transition: max-width 0.3s ease;
    }

    &:hover, &:focus {
      &:after {
        max-width: 100%;
      }
    }

    &.active {
      color: red;
    }
  }
}
