.homePageTabs {
  position: relative;
  margin-bottom: 9.375em; //150px

  @media (max-width: 991.98px) {
    margin-bottom: var(--px80);
  }

  :global {
    .homePageTabsBg {
      position: absolute;
      top: calc(var(--px20) * -1);
      left: 0;
      z-index: -2;
      width: 100%;
      padding-top: calc(1227 / 1920 * 100%);
      background-image: url("../assets/images/home-features-bg.webp");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left 0;
      transform: translate3d(0,0,0);
    }

    .sectionTab {
      padding: 0 var(--px20);
    }

    .customTabs {
      &.tabNav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 var(--px20);
        margin: 0 0 var(--px80);
        list-style: none;

        li:first-child .tabButton {
          border-radius: 0.222em 0 0 0.222em;
        }

        li:last-child .tabButton {
          border-radius: 0 0.222em 0.222em 0;
        }

        .tabButton {
          background-color: var(--glass-white-2);
          border-color: var(--glass-white-2);
          border-radius: 0;
          color: rgba(255, 255, 255, 0.6);
          overflow: hidden;

          &:hover,
          &:focus {
            background-color: white;
            border-color: white;
            box-shadow: var(--glow-box-shadow-soft-white);
            color: black;
          }

          &.active {
            background-color: var(--blue);
            border-color: var(--blue);
            color: white;

            &:hover,
            &:focus {
              background-color: var(-blue);
              box-shadow: var(--glow-box-shadow-blue);
              text-shadow: none;
              color: white;
            }
          }
        }
      }

      &.tabPanel .panel {
        opacity: 0;
        transition: opacity 1s ease;

        &.active {
          opacity: 1;
        }
      }
    }

    .sectionFeatures {
      margin-bottom: var(--px160);
    }

    .sectionFeaturesTitle {
      width: 100%;
      max-width: 22.3em; //874px
      margin: 0 auto 1.904em; //0 auto 80px
      text-align: center;
    }

    .featureCards {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--px20);
      list-style: none;
      padding-left: 0;

      .featureCardsItem {
        width: 100%;

        &:not(:nth-child(5n)),
        &:not(:nth-child(6n)) {
          flex: 0 0 calc(100% / 4 - var(--px20) * 3 / 4);
        }

        &:nth-child(5n) {
          flex-grow: 1;
          flex-basis: calc(50% - var(--px20));
        }

        &:nth-child(6n) {
          flex: 1 0 calc(50% - var(--px20));
        }
      }
    }

    .sectionFaqsTitle {
      text-align: center;
      margin-bottom: 1.904em; //80px
    }

    @media (max-width: 991.98px) {
      .homePageTabsBg {
        top: 5%;
        padding-top: var(--bg-ratio);
        background-image: url("../assets/images/home-features-bg-mobile.webp");
        background-size: contain;
        background-position: left center;
        transform: translate3d(0,-5%,0);
      }

      .customTabs {
        &.tabNav {
          flex-direction: column;
          width: 100%;
          margin-bottom: var(--px40);
          font-size: 1em;

          li {
            width: 100%;

            &:first-child .tabButton {
              border-radius: var(--px4) var(--px4) 0 0;
            }

            &:last-child .tabButton {
              border-radius: 0 0 var(--px4) var(--px4);
            }
          }

          .tabButton {
            width: 100%;
          }
        }
      }

      .sectionFeatures {
        margin-bottom: var(--px40);
      }

      .sectionFeaturesTitle {
        max-width: 100%;
        margin: 0 auto 1.818em; //40px
      }

      .featureCards {
        .featureCardsItem {
          &:not(:nth-child(5n)),
          &:not(:nth-child(6n)) {
            flex: 0 0 calc(50% - var(--px20) / 2);
          }

          &:nth-child(5n) {
            flex-grow: 1;
            flex-basis: calc(50% - var(--px20));
          }

          &:nth-child(6n) {
            flex: 1 0 calc(50% - var(--px20));
          }
        }
    }

    .sectionFaqsTitle {
      margin-bottom: 1.818em; //40px
    }
  }

  @media (max-width: 767.98px) {
    .homePageTabsBg {
      top: 37%;
      transform: translate3d(0,-37%,0);
    }

    .featureCards {
      .featureCardsItem:not(:nth-child(5n)),
      .featureCardsItem:not(:nth-child(6n)),
      .featureCardsItem:nth-child(5n),
      .featureCardsItem:nth-child(6n) {
        flex: 0 0 100%;
      }
    }
  }
}
}