.homePage {
  :global {
    .homePageSectionHeader {
      position: relative;
      display: flex;
      align-items: center;
      height: auto;
      min-height: 100vh;
      padding: 0 var(--px20);
    }

    .homePageHeaderBg {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -2;
      width: 100%;
      padding-top: var(--bg-ratio);
      background-image: url("../assets/images/home-header.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transform: translate3d(0, -50%, 0);
    }

    .homePageSectionHeaderWrapper {
      display: flex;
      align-items: center;
      height: auto;
      min-height: 67.5em; //1080px;
    }

    .homePageSectionHeaderTextWrapper {
      flex: 0 0 60%;
    }

    .sectionHeading {
      width: 100%;
      max-width: 50%;
      margin-bottom: 3.335em; //60px
      font-size: var(--px18);
      line-height: 1.22; //22px;
    }

    .sectionSubtitle {
      font-size: var(--px24);
      margin-bottom: 2.5em; //60px
    }

    .sectionLink {
      color: var(--blue);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        text-shadow: var(--glow-text-shadow-blue);
      }
    }

    .homePageSectionSignUp {
      margin-bottom: var(--px160);
    }

    @media (max-width: 991.98px) {
      .homePageSectionHeader {
        display: flex;
        flex-direction: column;
        padding-top: calc(var(--header-height) + var(--px30));
        background-image: none;

        > .container {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }
      }

      .homePageSectionHeaderWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: unset;
      }

      .homePageSectionHeaderTextWrapper {
        flex: unset;
        width: 100%;

        .sectionHeading {
          max-width: 19.214em; //269px
          margin-bottom: var(--px26);
          font-size: 1em;
        }

        h1 {
          margin-bottom: 0.928em; //26px
        }

        .sectionSubtitle {
          font-size: var(--px16);
          margin-bottom: 1.625em; //26px
        }

        .button {
          width: 100%;
        }
      }

      .homePageHeaderBg {
        position: static;
        transform: translate3d(0, 0, 0);
        background-image: url("../assets/images/home-header-mobile.webp");
        background-size: contain;
      }

      .homePageSectionSignUp {
        margin-bottom: var(--px80);
      }
    }
  }
}
