.homePage {
  :global {
    .homePageSectionHeader {
      display: flex;
      align-items: center;
      height: auto;
      min-height: 100vh;
      max-height: 67.5em; //1080px
      padding: 0 var(--px20);
      background-image: url("../assets/images/home-header.webp");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
    }

    .homePageSectionHeaderWrapper {
      display: flex;
      align-items: flex-start;
    }

    .homePageSectionHeaderTextWrapper {
      flex: 0 0 60%;
    }

    .sectionHeading {
      width: 100%;
      max-width: 50%;
      margin-bottom: 3.335em;//60px
      font-size: var(--px18);
      line-height: 1.22; //22px;
    }

    .sectionSubtitle {
      font-size: var(--px24);
      margin-bottom: 2.5em; //60px
    }

    .sectionLink {
      color: var(--blue);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 991.98px) {
      .homePageSectionHeader {
        display: flex;
        flex-direction: column;
        padding-top: calc(var(--header-height) + var(--px30));
        background-image: none;

        >.container {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }
      }

      .homePageSectionHeaderWrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      .homePageSectionHeaderTextWrapper {
        flex: unset;
        width: 100%;

        .sectionHeading {
          max-width: 269px; //269px
          margin-bottom: var(--px26);
          font-size: 1em;
        }

        h1 {
          margin-bottom: 26px;
        }

        .sectionSubtitle {
          font-size: 16px;
          margin-bottom: 26px;
        }

        .button {
          width: 100%;
        }
      }

      .homePageSectionHeaderMobileImage {
        width: 100%;
        max-width: 100%;
        margin-top: auto;

        img{
          width: 100%;
          max-width: 100%;
          height:  auto;
        }
      }
    }
  }
}