@use "_normalize.css";
@use "fonts";
@use "variables";
@use "buttons";
@use "form-elements";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--body-bg-color);
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  font-family: 'Avantt TRIAL', sans-serif;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.menuIsOpen {
    overflow: hidden;
  }
}

//TYPOGRAPHY

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: bold;
  letter-spacing: normal;
}

h1, .h1 {
  font-size: var(--px62);
  line-height: 1.08; //67px
}

h2, .h2 {
  font-size: var(--px42);
  line-height: 1.07; //45px
}

h3, .h3 {
  font-size: var(--px24);
  line-height: 1.167; //28px
}

h4, .h4 {
  font-size: var(--px20);
}

h5, .h5 {
  font-size: var(--px18);
}

h6, .h6 {
  font-size: 1em;
}

@media (max-width: 991.98px) {
  h1, .h1 {
    font-size: var(--px28);
  }

  h2, .h2 {
    font-size: 22px;
  }

  h3, .h3 {
    font-size: var(--px16);
  }
}

a {
  color: inherit;
  transition: all 0.3s ease;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

//IMAGES

svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

//LAYOUT

.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
}

//HELPERS

.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.listUnstyled {
  list-style: none;
  padding-left: 0;
}

.text24 {
  font-size: var(--px24);
}

.text18 {
  font-size: var(--px18);
}

