.navLogo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

:global {
  .navLogo {
    --logo-height: 38px;
    --logo-width: 177px;
    max-width: calc(var(--logo-width) + 10px);
    height: calc(var(--logo-height) + 10px);

    @media (max-width: 991.98px) {
      --logo-height: 30px;
      --logo-width: 140px;
      perspective: 1800px;
      overflow: hidden;

      .navLogoImageWrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        perspective: 1800px;
      }

      .front,
      .back {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: var(--logo-height);
        line-height: var(--logo-height);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;

        img {
          width: 100%;
          max-width: 100%;
          height: auto;
        }
      }

      .front {
        opacity: 0;
        transform: rotateX(-90deg);
      }

      .back {
        opacity: 1;
        transform: rotateX(0deg) translateZ(var(--logo-height));
      }

      &.menuIsOpen {
        .front {
          opacity: 1;
          transform: rotateX(0deg) translateZ(var(--logo-height));
        }

        .back {
          opacity: 0;
          transform: rotateX(90deg) translateZ(var(--logo-height));
        }
      }
    }
  }
}
