.mobileMenuWrapper {
  display: inline-block;
}

:global {
  .mobileMenuToggle {
    width: 2em;
    height: 2em;
    min-height: unset;
    padding: 0;
    background-color: white;
    border-color: white;
    border-radius: var(--px4);
    font-size: 1em;
    overflow: hidden;

    &:hover,
    &:focus {
      background-color: var(--blue);
      border-color: var(--blue);
      box-shadow: none;

      .menuIcon {
        background-color: white;

        &:before,
        &:after {
          background-color: white;
        }
      }
    }

    &.isOpen {
      background-color: var(--blue);
      border-color: var(--blue);
      color: white;

      .menuIcon {
        background-color: transparent;

        &:before {
          top: 50%;
          background-color: white;
          transform: rotate(-45deg) translateY(-50%);
        }

        &:after {
          bottom: unset;
          top: 50%;
          background-color: white;
          transform: rotate(45deg) translateY(-50%);
        }
      }
    }
  }

  .mobileMenuIcon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    color: inherit;

    .menuIcon {
      display: block;
      width: 1em;
      height: 1px;
      background-color: black;
      transition: all 0.3s ease;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        display: block;
        width: 1em;
        height: 1px;
        margin: 0 auto;
        background-color: black;
        transition: all 0.3s ease;
      }

      &:before {
        top: 2px;
      }

      &:after {
        bottom: 2px;
      }
    }
  }

  .mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: var(--header-height) 0 0;
    background-color: var(--light-grey);
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease;

    &.isOpen {
      transform: translateY(0);
    }
  }

  .mobileMenuInner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    overflow-y: auto;

    >.navItems {
      flex-grow: 1;
    }
  }

  .mobileMenuFooter {
    margin-top: auto;
    padding: var(--px80) var(--px20)  var(--px40);
  }
}
