.sectionSignUp {
  padding-left: var(--px20);
  padding-right: var(--px20);

  :global {
    .sectionSignUpFormWrapper {
      width: 100%;
      padding: 7.875em var(--px20);
      background-color: var(--blue);
      background-image: url("../assets/images/section-signup-bg.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 1em;

      &.isOrange {
        background-color: var(--orange);
        background-image: url("../assets/images/section-signup-bg-orange.svg");
      }

      .sectionSignUpFormInner {
        width: 100%;
        max-width: 56em; //896px
        margin: 0 auto;

        .sectionSignUpFormTitle,
        .sectionSignUpFormSubtitle {
          text-align: center;
        }

        .sectionSignUpFormSubtitle {
          margin-bottom: 3.335em; //60px
          font-size: var(--px18);
        }
      }

      .formInline {
        max-width: 47.8125em; //765px
        margin: 0 auto;
      }

      @media (max-width: 991.98px) {
        padding: var(--px20);

          .sectionSignUpFormInner .sectionSignUpFormSubtitle {
          margin-bottom: var(--px20);
          font-size: var(--px14);
        }
      }
    }
  }
}